/*
    1.Todos los estilos en cuanto a posicionameinto
    2. modelo de Caja(Box model)
    3. Tipografia
    4. Estilos Visuales
    5.Otros
*/
:root{
    /*Color*/
    --bitcoin-orage:#F7931A;
    --soft-orange:#FFE9D5;
    --secundary-blue:#1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black:#201E1C;
    --blac:#282623;
    --grey:#BABABA;
    --off-white:#FAF8F7;
    --just-white:#FFF;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'DM Sans', sans-serif;
    /*font-family: 'Inter', sans-serif;*/ 
    font-size: 62.5%;  
}